<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoodDriving</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoodDriving.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="display:flex; font-family: 'Berkshire Swash', cursive; align-items:center;" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/t.png" alt="" width="60" height="48" class="d-inline-block align-text-top"> Good Driving</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="IniciarSesion" asp-action="Index">Iniciar Sesion</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary" asp-area="" asp-controller="IniciarSesion" asp-action="Registro">Registrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="border-top footer">
        <div class="enlaces">
            <div class="me-4">
                <ul style="list-style:none; padding:0; margin:0;">
                    <li><a>Inicio</a></li>
                    <li><a>Sobre</a></li>
                    <li><a>Comunidad</a></li>
                </ul>
            </div> 
            <div class="me-4">
                <ul style="list-style:none; padding:0; margin:0;">
                    <li><a>Sesion</a></li>
                    <li><a>Contactanos</a></li>
                </ul>
            </div> 
            <div class="mx-2">
                <ul style="list-style:none; padding:0; margin:0;">
                    <li><a>Buscar</a></li>
                    <li><a>Privacidad</a></li>
                </ul>
            </div> 
        </div>
        <div class="redes">
            <ul class="">
                <li class="nav-item"><a class="nav-link text-light"><i class='bx bxl-facebook-square'></i></a></li>
                <li class="nav-item"><a class="nav-link text-light"><i class='bx bxl-instagram-alt' ></i></a></li>
                <li class="nav-item"><a class="nav-link text-light"><i class='bx bxl-twitter' ></i></a></li>
                <li class="nav-item"><a class="nav-link text-light"><i class='bx bxl-snapchat' ></i></a></li>
                <li class="nav-item"><a class="nav-link text-light"><i class='bx bxl-youtube' ></i></a></li>
            </ul>
        </div> 
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
