@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Recuperar Contraseña";
}
<head>
    <link rel="stylesheet" href="~/css/IniciarSesionIndex.css" asp-append-version="true" />
</head>
<body>
    <div class="contenedor row">
        <form id="enviarEmail" class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-xl-4">
            <div class="titulo">Recuperar contraseña</div>
            <div class="subtitulo">Ingrese su correo electronico para enviar el correo de recuperacion de contraseña</div>
            <div class="mb-3">
                <input type="email" class="form-control" required aria-describedby="emailHelp" placeholder="Correo" name="email">
            </div>
            <button type="submit" class="ingresar">Enviar</button>
        </form>
    </div>
    @section Scripts{
    <script>
        $('#enviarEmail').submit(function(e){
            $.ajax({
                type: "POST",
                data: $('#enviarEmail').serialize(),
                url: '@Url.Action("RecuperarPassword","IniciarSesion")',
                success: function(respuesta){
                    switch(respuesta){
                        case "no existe":
                            Swal.fire({
                                icon: 'error',
                                title: 'Email no existe',
                                text: 'El email no es valido'
                            });
                            break;
                        case "correo enviado":
                            Swal.fire({
                                icon: 'success',
                                title: 'Email enviado',
                                text: 'El email ha sido enviado',
                                allowOutsideClick: false,
                                confirmButtonText: 'De acuerdo'
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                $('#enviarEmail').trigger('reset');
                                if (result.isConfirmed) {
                                    location.href = '@Url.Action("Index","Home")';
                                }
                            });

                            break;
                        default:
                            console.log(respuesta);
                            break;
                    }
                }
            });
            e.preventDefault();
        });
    </script>
    }
</body>

