@{
    ViewData["Title"] = "Inicio";
}
<head>
    <link rel="stylesheet" href="~/css/HomeIndex.css" asp-append-version="true" />
</head>
<body>
    <div class="titulo">Plataforma de agendación de clases de conducción</div>
</body>
