@{
    ViewData["Title"] = "Sobre";
}
<head>
    <link rel="stylesheet" href="~/css/HomeSobre.css" asp-append-version="true" />
</head>
<body>
    <div class="row" style="min-height: 80vh;">
        <div class="col-12">
            <div class="row">
                <div class="informacion-titulo col-xs-12 col-sm-12 col-md-7 col-lg-6">Plataforma de agendacion de clases de conduccion</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="informacion-texto col-xs-12 col-sm-12 col-md-7 col-lg-6">
                    Good driving es una aplicativo web que permita agendar
                    una clase con un tutor, horario y vehículo dependiendo
                    la categoría; enfocada en una academia de conducción
                    que contará con diferentes servicios en su proceso.
                </div>
            </div>
        </div>
    </div>
</body>
