@{
    ViewData["Title"] = "Sobre";
}
<head>
    <link rel="stylesheet" href="~/css/HomeSobre.css" asp-append-version="true" />
</head>
<body>
    <div class="contenedor-sobre">
        <div class="informacion">
            <div class="informacion-titulo">Plataforma de agendacion de clases de conduccion</div>
            <div class="informacion-texto">Good driving es una aplicativo web que permita agendar 
                una clase con un tutor, horario y vehículo dependiendo
                la categoría; enfocada en una academia de conducción 
                que contará con diferentes servicios en su proceso.
            </div>
        </div>
        <div class="imagen">
            <img src="~/img/logo.png"/>
        </div>
    </div>
</body>
