@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutTutor";
}
<head></head>
<body>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h5>Lista de estudiantes para Clases Practicas, Evaluación Causalidad y Consecuencias</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="tablaClasePractica">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Email Usuario</th>
                            <th>Categoria Licencia</th>
                            <th>Fecha Solicitud</th>
                            <th>Estado Clase Practica</th>
                            <th>Vehiculo</th>
                            <th>Realizar Prueba</th>
                            <th>Gestiom</th>
                        </tr>
                    </thead>
                    <tbody id="TablaClases"></tbody>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="gestionClase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <form id="editarClase">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Detalles Clase Practica</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <input type="hidden" id="idClase" name="idClase"/>
                                        <h5>Perfil Usuario</h5>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Primer y Segundo Nombre</label>
                                            <input class="form-control" type="text" readonly id="nombreUsuario"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Primer y Segundo Apellido</label>
                                            <input class="form-control" type="text" readonly id="apellidoUsuario"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Edad</label>
                                            <input class="form-control" type="text" readonly id="edadUsuario"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Documento</label>
                                            <input class="form-control" type="text" readonly id="documentoUsuario"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Telefono</label>
                                            <input class="form-control" type="text" readonly id="telefonoUsuario"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Direccion</label>
                                            <input class="form-control" type="text" readonly id="direccionUsuario"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Email</label>
                                            <input class="form-control" type="text" readonly id="emailUsuario"/>
                                        </div>
                                        <hr />
                                        <h5>Detalles de la Clase</h5>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Categoria Licencia</label>
                                            <input class="form-control" type="text" readonly id="categoriaLicencia"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Fecha Solicitud</label>
                                            <input class="form-control" type="text" readonly id="fechaSolicitud"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                                            <label class="form-label">Fecha Finalizacion</label>
                                            <input class="form-control" type="text" readonly id="fechaFinalizacion"/>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
    <script>
        $( document ).ready(function() {
            traerSolicitudClases();
            //traerEstadoClase();
        });

        function traerSolicitudClases(){
            var id = @User.Identity.Name;
            //var id=8;
            $.ajax({
                type: "GET",
                url: '@Url.Action("TraerSolicitudClasesPracticas","Tutor")',
                data: {id:id},
                success: function(respuesta){
                    var Clases= respuesta.clases;
                    console.log(Clases);
                    var plantilla ='';
                    var contador=1;
                    var color='';
                    Clases.forEach(Clase=>{
                        switch(Clase.idEstado){
                            case 1:
                                color = 'class="table-info"';
                                break;
                            case 2:
                                color = 'class="table-warning"';
                                break;
                            case 3:
                                color = 'class="table-success"';
                                break;
                            case 4:
                                color = 'class="table-danger"';
                                break;
                        }
                        plantilla+=`<tr id="${Clase.id}">
                            <td>${contador}</td>
                            <td>${Clase.emailUsuario}</td>
                            <td>${Clase.categoriaLicencia}</td>
                            <td>${Clase.fechaSolicitud}</td>
                            <td ${color}>${Clase.descripcionEstado}</td>
                            <td>${Clase.descripcionMarca} ${Clase.descripcionModelo}</td>`
                            if(Clase.idVehiculo != null){
                                plantilla+=`<td>
                                    <div class="btn-group">
                                        <a class="btn btn-success prueba" data-bs-toggle="modal" data-bs-target="#">Prueba<a>
                                    </div>
                                </td>`
                            }else{
                                plantilla+=`<td class="table-danger">Esperando Asignacion de vehiculo</td>`
                            }
                            plantilla+=`<td>
                                <div class="btn-group">
                                    <a class="btn btn-primary editar" data-bs-toggle="modal" data-bs-target="#gestionClase">Gestionar<a>
                                </div>
                            </td>
                        </tr>`
                        contador+=1;
                    });
                    $('#TablaClases').html(plantilla);
                    dataTable();
                }
            });
        }

        function dataTable(){
            const datatablesSimple = document.getElementById('tablaClasePractica');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        }

        $(document).on('click','.editar', function(){
            var element=$(this)[0].parentElement.parentElement.parentElement;
            //console.log(element);
            var id=$(element).attr('id');
            $.ajax({
                type: "GET",
                url: '@Url.Action("TraerClaseU","Tutor")',
                data: {id:id},
                success: function(respuesta){
                    //console.log(respuesta);
                    var clase = respuesta.clase[0];
                    //console.log(clase);
                    var fechaFinalizacion = clase.fechaFinalizacion.split(' ');
                    
                    $('#idClase').val(clase.id);
                    $('#nombreUsuario').val(clase.nombre1Usuario);
                    $('#apellidoUsuario').val(clase.apellido1Usuario);
                    $('#edadUsuario').val(clase.edadUsuario);
                    $('#documentoUsuario').val(clase.documentoUsuario);
                    $('#telefonoUsuario').val(clase.telefonoUsuario);
                    $('#direccionUsuario').val(clase.direccionUsuario);
                    $('#emailUsuario').val(clase.emailUsuario);

                    $('#categoriaLicencia').val(clase.categoriaLicencia);
                    $('#fechaSolicitud').val(clase.fechaSolicitud);
                    $('#fechaFinalizacion').val(fechaFinalizacion[0]);

                }
            });
        });
    </script>
    }
</body>
