body {
    background-color: #64E9EE;
}

.informacion-titulo {
    color: #47525E;
    font-family: Berkshire Swash;
    font-size: 56px;
    line-height: 53px;
    text-align: left;
    margin-bottom:100px;
}

.informacion-texto {
    color: #001011;
    font-family: Lato;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
}